# ===============================
# GLOBAL
# ===============================
JWT_SECRET=supersecretjwt_esta_clave_debe_tener_al_menos_32_caracteres_ok
API_KEY_SECRET=supersecretapikey

# ===============================
# PRODUCTS SERVICE
# ===============================
PRODUCTS_DB_HOST=products-db
PRODUCTS_DB_PORT=5432
PRODUCTS_DB_NAME=products_db
PRODUCTS_DB_USER=products_user
PRODUCTS_DB_PASSWORD=products_pass

PRODUCTS_SERVICE_PORT=8081
PRODUCTS_SERVICE_URL=http://products-service:8080

# ===============================
# INVENTORY SERVICE
# ===============================
INVENTORY_DB_HOST=inventory-db
INVENTORY_DB_PORT=5432
INVENTORY_DB_NAME=inventory_db
INVENTORY_DB_USER=inventory_user
INVENTORY_DB_PASSWORD=inventory_pass

INVENTORY_SERVICE_PORT=8082
INVENTORY_SERVICE_URL=http://inventory-service:8080

# ===============================
# API GATEWAY
# ===============================
GATEWAY_PORT=8080

GATEWAY_DB_HOST=gateway-db
GATEWAY_DB_PORT=5432
GATEWAY_DB_NAME=gateway_db
GATEWAY_DB_USER=gateway_user
GATEWAY_DB_PASSWORD=gateway_pass

# ===============================
# FRONTEND
# ===============================
VITE_API_BASE_URL=http://localhost:8080